<h2 class="title">Список акций</h2>

<div class="search-bar">
  <label>
    Поиск по:
    <select [(ngModel)]="filterField" class="input-select">
      <option value="companyName">Название компании</option>
      <option value="companyAddress">Адрес</option>
      <option value="price">Цена</option>
      <option value="quantityAvailable">Доступно</option>
      <option value="controlStakeSize">Контр. пакет</option>
    </select>
  </label>
  <input [(ngModel)]="filterValue" placeholder="Введите значение для поиска" class="input-text" />
</div>

<div class="form-container" *ngIf="isAdmin">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <input formControlName="companyName" placeholder="Название компании" required class="input-text" />
    <input formControlName="companyAddress" placeholder="Адрес" class="input-text" />

    <input
      formControlName="price"
      placeholder="Цена (больше 0)"
      type="number"
      min="1"
      (input)="onNumberInput('price')"
      (keydown)="onKeyDownNoMinus($event)"
      class="input-text"
    />

    <input
      formControlName="quantityAvailable"
      placeholder="Доступно (больше 0)"
      type="number"
      min="1"
      (input)="onNumberInput('quantityAvailable')"
      (keydown)="onKeyDownNoMinus($event)"
      class="input-text"
    />

    <input
      formControlName="controlStakeSize"
      placeholder="Контрольный пакет (%)"
      type="number"
      min="1"
      max="100"
      (input)="onNumberInput('controlStakeSize')"
      (keydown)="onKeyDownNoMinus($event)"
      class="input-text"
    />

    <button type="submit" [disabled]="form.invalid" class="btn primary-btn">
      {{ editingShare ? 'Сохранить' : 'Добавить' }}
    </button>
    <button type="button" *ngIf="editingShare" (click)="cancelEdit()" class="btn cancel-btn">Отмена</button>
  </form>
</div>

<table class="data-table">
  <thead>
  <tr>
    <th>Компания</th>
    <th>Адрес</th>
    <th>Цена</th>
    <th>Доступно</th>
    <th>Контр. пакет</th>
    <th *ngIf="isAdmin">Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let share of filteredShares()">
    <td>{{ share.companyName }}</td>
    <td>{{ share.companyAddress }}</td>
    <td>{{ share.price | number:'1.2-2' }}</td>
    <td>{{ share.quantityAvailable }}</td>
    <td>{{ share.controlStakeSize }}%</td>
    <td *ngIf="isAdmin" class="actions-cell">
      <button (click)="startEdit(share)" class="btn action-btn edit-btn">✏️</button>
      <button (click)="deleteShare(share)" class="btn action-btn delete-btn">🗑️</button>
    </td>
  </tr>
  </tbody>
</table>
