<nav class="navbar">
  <div class="nav-left">
    <a routerLink="/shares" routerLinkActive="active">Акции</a>
    <a routerLink="/buyers" routerLinkActive="active">Покупатели</a>
    <a routerLink="/deals" routerLinkActive="active">Сделки</a>
    <a routerLink="/create-deal" routerLinkActive="active">Новая сделка</a>
    <a routerLink="/profile" routerLinkActive="active">Кабинет</a>
  </div>
  <div class="nav-right">
    <a routerLink="/login" routerLinkActive="active">Вход</a>
    <a routerLink="/register" routerLinkActive="active">Регистрация</a>
  </div>
</nav>
<router-outlet></router-outlet>
